.notification {
  padding: 40px;
  background-color: #ebf1f8;
  height: 100vh;
  overflow: auto;
}
.notification--container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
}

.btn {
  border: 1px solid #496a92;
  background: #FFFFFF;
  border-radius: 8px;
  height: 40px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .9px;
  cursor: pointer;
}