.App {
  font-family: sans-serif;
  text-align: center;
}

.editor-container {
  padding: 40px;
}

.demo-editor,
.source {
  border: 1px solid #dcdcdc;
  height: 200px;
  overflow: auto;
  padding: 10px;
}

.demo-editor.hide {
  display: none;
}

.source textarea {
  /* padding: 0;
  border: 0;
  margin: 0;
  height: 200px;
  width: 100%;
  background-color: #ffffff;
  cursor: text; */

  background-color: transparent;
  border: 0;
  color: #333;
  display: block;
  height: 200px;
  line-height: 22px;
  overflow: auto;
  padding: 16px;
  resize: none;
  transition: 100ms ease-out;
  width: 100%;
}

.source textarea:focus {
  outline: none;
  box-shadow: none;
}

.my-toolbar.disabled .editor-toolbar-class,
.my-toolbar.disabled .editor-select {
  opacity: 0.2;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
}

.toolbar-source-btn {
  border: 0;
  background-color: transparent;
  height: 40px;
}
